@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.herobg {
  html {
    --s: 100%; /* control the size */
    
    --_g: #0000 52%,#7119ff /* first color */ 54% 57%,#0000 59%; 
    background: 
     radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
     radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
     radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
     radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
     #ffff; /* second color */
    background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
  }
  
}
